<svg
  class="confetti__svg"
  viewBox="0 0 400 200"
  preserveAspectRatio="none"
  aria-hidden="true"
  focusable="false"
>
  <circle class="confetti__bit confetti__bit--1" cx="36" cy="40" r="11" />
  <path class="confetti__bit confetti__bit--2" d="M24 132 H44 L34 110 Z" />
  <rect
    class="confetti__bit confetti__bit--3"
    x="62"
    y="150"
    width="16"
    height="16"
    rx="4"
  />
  <circle class="confetti__bit confetti__bit--4" cx="108" cy="22" r="6" />
  <circle class="confetti__bit confetti__bit--5" cx="362" cy="44" r="9" />
  <path class="confetti__bit confetti__bit--6" d="M362 120 H384 L373 98 Z" />
  <rect
    class="confetti__bit confetti__bit--7"
    x="346"
    y="142"
    width="18"
    height="18"
    rx="5"
  />
  <circle class="confetti__bit confetti__bit--8" cx="300" cy="178" r="7" />
</svg>
